<style class="GLOBAL">
  .main-menu-list a{display: block; color: #dbe1e6; margin: 0; cursor: pointer; transition: all .6s; position: relative}
  .main-menu-list a .fa{margin-right: .08rem}
  .main-menu-list-a,.main-menu-list-a-nosub{padding: .15rem}
  .main-menu-list-sub{display: none}
  .main-menu-list.active .main-menu-list-a,.main-menu-list.active .main-menu-list-a-nosub{color: #FFF; background: #215ca9; font: .18rem}
  .main-menu-list-sub a{padding: .1rem .1rem .1rem .3rem}
  .main-menu-list-sub a:hover,.main-menu-list-sub a.active{color: #FFF; background: linear-gradient(to bottom,rgba(255,255,255,.2) 0%,rgba(255,255,255,.1))}
  .main-menu-list.active .main-menu-list-a:before,.main-menu-list.active .main-menu-list-a-nosub:before{content: " "; position: absolute; left: 0; top: 0; bottom: 0; width: 3px; background: #359feb}

  .main-menu-list.active .main-menu-list-sub{display: block;}
</style>

<!-- vue 菜单组件 -->
<script type="text/html">
  <div>

    <div v-for="item in menus" :class="(item.show && item.child.length > 0) || item.id == activeMenu ? 'main-menu-list active' : 'main-menu-list'">

      <a v-if="item.child.length <= 0" class="main-menu-list-a-nosub" :href="item.url">
        <span :class="item.icon"></span> {{ item.name }}
      </a>

      <div v-else>

        <a class="main-menu-list-a" @click="item.show = item.show ? false : true">
          <span :class="item.icon"></span> {{ item.name }}
        </a>

        <div class="main-menu-list-sub">
          <a v-for="subitem in item.child" :href="subitem.url" :class="subitem.id == activeSubMenu ? 'active' : ''">{{ subitem.name }}</a>
        </div>
      </div>
    </div>

  </div>
</script>


<script>
  Vue.component(__COMPONENT__, {
    props:[],

    data:function(){
      return {
        //主菜单
        activeMenu:0,

        //子菜单
        activeSubMenu:0,

        //菜单数据
        menus:[
          {id:1,name:"推送消息",icon:"fas fa-envelope",url:"#index/index",child:[],show:false},

          {id:2,name:"消息列表",icon:"fas fa-envelope",url:"#msglist/msglist",child:[],show:false},
          
          {id:300,name:"设备管理",icon:"fas fa-users-cog",url:"",show:false,child:[
            {id:301,name:"设备列表",url:"#views/machinelist/machinemanage"},
            {id:302,name:"软件管理",url:"#views/softwaremanage/softwaremanage"},
          ]},
        ],
      };
    },

    template:__TEMPLATE__,

    mounted:function(){
      var _this = this;

      var hashchangeID = KJ.Fnregistevent("hashchange",function(data){
        _this.F_activeMenu();
      });

      _this.F_activeMenu();
    },

    methods:{
      //菜单激活
      F_activeMenu:function(){
        var menus = this.menus;

        var hash        = location.hash;
        var nowpage     = hash == "#" || hash == "" ? '#' + Kim.nowPagePath : hash;

        //菜单初始化
        var menu    = false;
        var submenu = false;

        for(var i=0;i<menus.length;i++){
          if(nowpage == menus[i].url){
            menu = menus[i];

            if(!menu.child || menu.child.length <= 0){
              break;
            }
          }

          //遍历子菜单
          if(menus[i].child && menus[i].child.length > 0){
            var submenus = menus[i].child;

            for(var j=0;j<submenus.length;j++){
              if(nowpage == submenus[j].url){
                submenu = submenus[j];
                menu    = menus[i];
                break;
              }
            }
          }
        }

        //全匹 失败 进行 path路径匹配
        if(!menu && !submenu){
          var path = nowpage.split("?")[0];
          
          for(var i=0;i<menus.length;i++){
            if(path == menus[i].url){
              menu = menus[i];

              if(!menu.child || menu.child.length <= 0){
                break;
              }
            }

            //遍历子菜单
            if(menus[i].child && menus[i].child.length > 0){
              var submenus = menus[i].child;

              for(var j=0;j<submenus.length;j++){
                if(path == submenus[j].url){
                  submenu = submenus[j];
                  menu    = menus[i];
                  break;
                }
              }
            }
          }
        }

        this.F_setNav(menu,submenu);
      },


      //设置导航
      F_setNav:function(menu,submenu){
        var nav = [];

        //console.log(menu,submenu);
        if(menu){
          nav.push(menu.name);
          menu.show = true;
          this.activeMenu = menu.id;
        }

        if(submenu){
          nav.push(submenu.name);
          this.activeSubMenu = submenu.id;
        }else{
          this.activeSubMenu = 0;
        }

        Kim.vue_page.nav = nav;
      }
    },
  });
</script>